/* layout content tour package */

/* container header content */

.container__wrap {
    background-image: linear-gradient(to top, rgb(255, 255, 255, 0.2), rgb(0, 0, 0, 0.3)),
    url(../pakagescss/p-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0 50px;
}

.container__header-content {
    
}

.container__header-title {
    
}

.container__header-title h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 8px;
}

.container__header-title-area,
.container__header-title-time {
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
}

.container__header-title-area {
    float: left;
    margin-right: 30px;
}

.container__header-title-area i,
.container__header-title-time i {
    color: #fff;
    margin-right: 4px;
    font-size: 14px;
}

.container__content-wrap {
    padding: 50px 0 100px;
    border-bottom: 1px solid #f1f1f1;
}

/* container content article */

.container__content-article-classify {
    height: 110px;
    padding: 30px 0;
}

.container__content-article-classify li {
}

.container__content-article-classify-img {
    width: 40px;
    float: left;
    margin-right: 16px;
}

.container__content-article-classify-img img {
    width: 100%;
    position: relative;
    top: 2px;
}

.container__content-article-classify-description {
    letter-spacing: 1px;
}

.container__content-article-classify-description h4 {
    color: #555;
    font-size: 14px;
}

.container__content-article-classify-description p {
    margin-top: 4px;
}

.container__content-article-classify-description p span {
    display: inline-block;
    padding: 0 6px;
    border-radius: 50px;
    background-color: #f76570;
    color: #fff;
    font-size: 10px;
}

/*-------------*/

.container__content-article-image {
    height: 480px;
    margin-bottom: 30px;
}

.container__content-article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--------------*/

.container__content-article-navbar {

}

.container__content-article-navbar li {
    display: inline-block;
    margin-right: 20px;
}

.container__content-article-navbar li a {
    display: block;
    color: #999;
    font-size: 15px;  
    letter-spacing: 1px;  
    padding: 4px 16px 3px;
    transition: 0.3s;
    width: fit-content;
}

li.container__content-article-navbar-item--active a,
.container__content-article-navbar li a:hover {
    background-color: #f76570;
    color: #fff;
    border-radius: 50px;
}

/* --------------- */

.container__content-article-content {
    margin-top: 36px;
}

.container__content-article-title {
    font-size: 25px;
    color: #555;
}

.container__content-article-lead-text {
    margin-top: 30px;
    line-height: 2;
    letter-spacing: 1px;
}

.container__content-article-lead-text p + p {
    margin-top: 16px;
}

.container__content-article-tables {
    margin-top: 30px;
}

.container__content-article-tables li {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #f1f1f1;
    padding: 20px 16px;
}

.container__content-article-tables li:last-child {
    border-bottom: 1px solid #f7f7f7;
}

.container__content-article-tables p {
    font-size: 18px;
    color: #555;
    width: 50%;
}

.container__content-article-tables p span {
    font-size: 14px;
    color: #999;
    display: inline-block;
}

.container__content-article-tables p span + span{
    margin-top: 16px;
}

.container__content-article-tables p span i {
    margin-right: 16px;
}

.container__content-article-tables p span i.icon-green {
    color: green;
}

.container__content-article-tables p span i.icon-red {
    color: red;
}

/* ------------- */

.container__content-article-map {
    margin-top: 36px;
}

/* ------------- */

.container__content-article-gallery-image-half-height {
    width: 100%;
    height: 210px;
}

.container__content-article-gallery-image-full-height {
    width: 100%;
    height: 432px;
}

.gallery-full-width {
    margin-top: 10px;
}

.container__content-article-gallery-inner img,
.container__content-article-gallery-image-half-height img,
.container__content-article-gallery-image-full-height img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container__content-article-gallery-inner img {
    object-position: 0 -80px;
}

.container__content-article-gallery {
    margin: 30px 0;
    position: relative;
}

.container__content-article-gallery-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.4s;
}

.container__content-article-gallery-wrap.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

/* .fade {
    animation: fade 0.3s ease forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
} */

.container__content-article-gallery-wrap .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.container__content-article-gallery-inner {
    width: 100%;
    height: 100%;
}

.container__content-article-gallery-wrap .close {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
    color: #f7f7f7;
    cursor: pointer;
}

.container__content-article-gallery-wrap .control-info-wrap {
    width: 35%;
    position: absolute;
    left: 30px;
    bottom: 80px;
}

.container__content-article-gallery-wrap .control-info-wrap .control {
    color: #f7f7f7;
    font-size: 40px;
    position: relative;
    cursor: pointer;
    line-height: 1;
}

.next {
    left: -25px;
}

.prev {
    left: -10px;
}

.container__content-article-gallery-wrap .control-info-wrap h3 {
    color: #fff;
    font-size: 31px;
    font-weight: 700;
    line-height: 31px;
}

.container__content-article-gallery-wrap .control-info-wrap .control-info-text {
    color: #fff;
    margin-top: 8px;
    font-size: 12px;
    letter-spacing: 1px;
}

.container__content-article-gallery-view-more {
    background-color: #14b9d5;
    display: inline-block;
    padding: 6px 14px 5px;
    border-radius: 25px;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.container__content-article-gallery-view-more:hover {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #fff;
}

.container__content-article-gallery-img {
    cursor: pointer;
}

/* -------------- */

.container__content-article-content {
    padding-top: 36px;
    border-top: 1px solid #f1f1f1;
}

.container__content-article-accordion {
    margin-top: 36px;
    transition: 0.5s;

}

.container__content-article-accordion li {

}

.container__content-article-accordion button {
    position: relative;
    top: -27px;
    outline: none;
    border: none;
    padding: 4px 7px;
    background-color: #f76570;
}

.container__content-article-accordion button i {
    color: #fbc1b8;
    font-size: 14px;
}

button .minus-acc {
    display: none;
}

button.active .plus-acc {
    display: none;
}

button.active .minus-acc {
    display: block;
}

.container__content-article-accordion-description strong {
    margin-right: 6px;
    font-size: 16px;
    color: #555;
}

.container__content-article-accordion-description {
    font-size: 16px;
    letter-spacing: 1px;
    padding-left: 45px;
}

.container__content-article-accordion-panel {
    height: 0;
    width: 0;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: 0.5s;
    transform: translateY(-10px);
}

.container__content-article-accordion-panel p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2;
}

.container__content-article-accordion-panel.active {
    height: 55px;
    width: 100%;
    padding-left: 45px;
    margin-bottom: 20px;
    transform: translateY(0);
}

/* ---------- */
/* Container sidebar */

.container__content-sidebars input {
    background-color: #F9F9F8;
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #f1f1f1;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
}

.container__content-sidebars-guest {

}

.container__content-sidebars-guest-price {
    background-color: #f76570;
    height: 110px;
    width: 100%;
    display: flex;
}

.container__content-sidebars-guest-price-wrap {
    margin: auto;
}

.container__content-sidebars-guest-price-old {
    font-size: 20px;
    color: #fbc1b8;
    text-decoration: line-through;
}

.container__content-sidebars-guest-price-current {
    font-size: 30px;
    color: #fff;
    margin-left: 6px;
}

.container__content-sidebars-guest-form {
    padding: 30px;
    border: 1px solid #f1f1f1;
}

.container__content-sidebars-guest-form-input {
    padding: 10px 0;
}

.container__content-sidebars-guest-form input {
    
}

.container__content-sidebars-guest-form textarea {
    background-color: #F9F9F8;
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #f1f1f1;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
}

.container__content-sidebars-guest-form input::placeholder,
.container__content-sidebars-guest-form textarea::placeholder {
    color: #a3a3a3;
}

.container__content-sidebars-guest-form-btn {
    width: 100%;
    background-color: #f76570;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 16px;
    cursor: pointer;
}

.container__content-sidebars-image {
    margin-top: 40px;
}

.container__content-sidebars-image img {
    width: 100%;
}

.container__content-sidebars-list-packages {
    margin-top: 40px;
}

.container__content-sidebars-title {
    font-size: 20px;
    color: #555;
    letter-spacing: 1px;
}

.container__content-sidebars-list-packages-item {
    padding-left: 0;
}

.container__content-sidebars-search {
    margin-top: 36px;
}

.container__content-sidebars-search input {
    margin-top: 16px;
}

.container__content-sidebars-search button {
    width: 96px;
    background-color: #14b9d5;
    padding: 12px 20px;
    font-size: 11px;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 24px;
    cursor: pointer;
}


.container__content-sidebars-destination {
    height: 488px;
    margin-top: 50px;
}


.container__content-sidebars-tags {
    margin-top: 40px;
}

.container__content-sidebars-tags-list {
    margin-top: 16px;
}

.container__content-sidebars-tags-list li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.container__content-sidebars-tags-list a {
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    background: none;
    border: 1px solid #f1f1f1;
    color: #999;
    padding: 4px 16px;
    border-radius: 50px;
}

/* ---------------- */

.container__content-sidebars-agency-time {
    margin-top: 36px;
}

.container__content-sidebars-agency-time p {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.container__content-sidebars-agency-time span {
    float: right;
    display: inline-block;
    background-color: #ffd000;
    color: #fff;
    font-size: 12px;
    padding: 4px 16px;
    border-radius: 50px;
}


.container__content-sidebars-ask {
    margin-top: 40px;
}

.container__content-sidebars-ask-description {
    background-color: #14b9d5;
    padding: 20px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2;
    position: relative;
}

.container__content-sidebars-ask-description::after {
    content: "";
    border-width: 22px 20px;
    border-style: solid;
    border-color: #14b9d5 transparent transparent transparent;
    position: absolute;
    bottom: -38%;
    left: 3%;
}

.container__content-sidebars-ask-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.container__content-sidebars-ask-info-img {
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
}

.container__content-sidebars-ask-info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container__content-sidebars-ask-info-name {
    margin-left: 24px;
}

.container__content-sidebars-ask-info-name h4 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

.container__content-sidebars-ask-info-name p {
    margin-top: 8px;
}

/* container content */

.container__content {
    background-color: #fff;
}

.content__title {
    text-align: center;
}

.content__title h3 {
    font-size: 15px;
    color: #999;
    font-weight: 400;
    letter-spacing: 2px;
}

.content__title h2 {
    font-size: 35px;
    margin-top: 16px;
    color: #555;
}

.content__title-wrap span {
    position: relative;
    z-index: 2;
}

.content__title-wrap {
    position: relative;
}

.content__title-wrap::before {
    display: block;
    content: "";
    position: absolute;
    height: 6px;
    bottom: 9px;
    left: 2px;
}

.promotions__title .content__title-wrap::before {
    width: 190px;
    background-color: #f76570;
}

/* container promotion */

.container__promotions {
    padding: 60px 0;
}

.container__promotions-list {
    margin-top: 50px;
}

.container__promotions-wrap {
    border: 1px solid #ebe7e7;
}

.container__promotions-img {
    position: relative;
}

.container__promotions-img img {
    width: 100%;
}

.container__promotions-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    top: 100%;
    transform: translateY(-65%);
    right: 20px;
}

.container__promotions-icon img {
    position: relative;
    top: 12px;
    left: 12px;
    width: 26px;
}

.container__promotions-body {
    padding: 30px;
}

.container__promotions-heading {
    letter-spacing: 1px;
}

.container__promotions-heading h4 a {
    font-size: 20px;
    color: #555;
}

.container__promotions-heading p {
    margin-top: 8px;

}

.container__promotions-heading p a {
    font-size: 16px;
    color: #999;
}

.container__promotions-heading p a i {
    font-size: 14px;
}

.container__promotions-price {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ebe7e7;
    border-bottom: 1px solid #ebe7e7;
    margin-top: 16px;
    padding: 16px 0;
}

.container__promotions-price-title  {
    letter-spacing: 2px;
}

.container__promotions-price-title a {
    color: #333;
    font-size: 12px;
    
}

.container__promotions-price-title span {
    display: inline-block;
    font-size: 10px;
    border-radius: 50px;
    padding: 0px 7px;
    color: #fff;
    margin-left: 4px;
}

.container__promotions-price-wrap {
    font-size: 25px;
    letter-spacing: 1px;
}

.container__promotions-price-old {
    color: #999;
    font-size: 20px;
    text-decoration: line-through;
}

.container__promotions-price-current {
    color: #555;

}

.container__promotions-description {
    margin-top: 16px;
    line-height: 1.8;
    font-size: 14px;
    color: #999;
    letter-spacing: 1px;
}

.container__promotions-btn {
    margin-top: 16px;
}

.container__promotions-btn a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 8px 18px;
    border-radius: 50px;
    letter-spacing: 1px;
}

/* header responsive------------------------- ----------------------*/

/* PC */
@media (min-width: 1024px) {
    .mobile-price {
        display: none;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .container__wrap {
        margin-top: 125px;
        width: 100%;
    }

    .container__content-wrap {
        padding: 20px 0 50px;
    }

    .container__content-sidebars-guest-price {
        display: none;
    }

    .mobile-price.container__content-sidebars-guest-price {
        display: flex;
        margin-top: 20px;
    }

    .mobile-price {
        position: relative;
    }

    .mobile-price .mobile-price-sale {
        position: absolute;
        background-color: #555;
        border-radius: 50px;
        padding: 2px 20px 1px;
        display: inline-block;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        top: -10px;
        right: 20px;
    }

    .container__content-sidebars-guest-form {
        margin-top: 30px;
    }

    .container__promotions-wrap {
        margin-bottom: 24px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .container__content-article-image {
        margin-bottom: 60px;
    }

    .container__content-sidebars-destination {
        height: 947px;
    }

    .container__promotions-price {
        flex-direction: column;
    }

    .container__promotions-price-wrap {
        margin-top: 8px;
    }

}

/* Mobile */
@media (max-width: 767px) {
    .container__content-article-tables p {
        width: 100%;
    }

    .container__content-article-tables p:nth-child(2) {
        margin-top: 16px;
    }

    .container__content-article-tables p span {
        display: block;
    }

    .container__content-article-classify {
        height: auto;
        padding: 15px 0;
    }

    .container__content-article-classify li {
        margin-top: 16px;
    }

    .container__content-article-image {
        height: 200px;
    }

    .container__content-article-navbar li {
        display: block;
        margin: 16px 0 0 0;
    }

    .container__content-article-gallery-image-half-height {
        height: 300px;
        margin-top: 12px;
    }

    .container__content-article-gallery-image-half-height.gallery-full-width {
        height: 125px;
    }

    .container__content-article-gallery-image-full-height {
        margin-top: 12px;
    }

    .container__content-article-accordion button {
        top: -50px;
    }

    .container__content-sidebars-destination {
        height: 400px;
    }

    .container__content-sidebars-ask-description::after {
        bottom: -35%;
    }
}

/* ------------------------------------------ ----------------------*/